/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*start of devlopment*/
/*
nav {
  background-color: black;
}
.img-logo {
  padding: 12px 218px;
}
.navigation {
  display: inline;
  float: right;
  padding: 11px 262px;
  color: gray;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navigation > li,
.navigation a {
  color: rgb(33, 103, 255);
}
.navigation > li.active a {
  color: white;
}
.navigation > li.acti a {
  color: red;
}
.call-or {
  color: gray;
}
li a:hover:not(.active) {
  background-color: #f5a2a2;
}
.sampal {
  color: blueviolet;
}
.english {
  color: wheat;
}
*/
nav {
  background-image: linear-gradient(to right, black, gray);
}

.book-1 {
  color: #2c6fdc;
  float: right;
  margin: 6px 384px;
  text-align: right;
  text-align: right;
  vertical-align: top;
  text-decoration: none;
}
.book-2 {
  color: #2c6fdc;
  float: right;
  margin: -98px 252px;
  text-align: right;
  vertical-align: top;
  text-decoration: none;
}

.or-call {
  float: right;
  margin: -97px 336px;
  text-align: right;
  vertical-align: top;
  color: gray;
  text-decoration: none;
}
.how {
  float: right;
  color: rgb(255, 0, 0);
  margin: -27px 487px;
  text-decoration: none;
}
.travel {
  float: right;
  color: white;
  margin: -27px 361px;
  text-decoration: none;
}
.contact {
  float: right;
  color: white;
  margin: -27px 244px;
  text-decoration: none;
}

header {
  background-color: black;
  background-image: linear-gradient(to right, black, gray);
}
.container {
  max-width: 1024px;
  margin: 0 auto;
}
.header > a {
  float: left;
  text-decoration: none;
}
.nav-wrap {
  float: right;
  width: 400px;
  text-decoration: none;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.nav-link a:hover,
.nav-link a:active {
  box-shadow: 0 0 20px rgb(0, 0, 0) inset;
  border: 3px solid rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}
.nav-link span {
  color: gray;
}
.nav {
  margin-top: 40px;
}
.nav a {
  color: white;
  text-decoration: none;
}
.nav-link a {
  text-decoration: none;
}
.main-contaner {
  background-image: url("images/header-bkgd-airplane4b_1280x440.png");
  min-height: 80vh; /*temp*/
  background-size: 100%;
  background-repeat: no-repeat;
  display: flow-root;
}
.contant-header {
  padding: 60px 1px;
  background-color: rgb(255 249 249 / 49%);
  margin-top: 72px;
}
h1 {
  float: left;
  color: black;
  text-transform: uppercase;
  font-size: 40px;
  margin: -14px;
  padding: 0px 38px;
}
.contant-header > button {
  border: none;
  padding: 10px 61px;
  float: right;
  color: white;
  background-color: #4780ff;
  border-radius: 5px;
  text-transform: uppercase;
  background-image: linear-gradient(to bottom right, #4780ff, #2566f7);
  margin: -14px 72px;
}
.container-main {
  background-color: #ffffff;
  min-height: 703px;
  border-bottom: 1px solid #f7f3f3;
}
h2 {
  margin-top: 31px;
  float: left;
  padding: 40px 31px;
  text-transform: uppercase;
  font-size: 20px;
}
.upper {
  margin: 0 auto;
  float: left;
  padding: 14px 27px;
  font-size: 18px;
}
.gallery {
  float: left;
  padding: 20px;
  position: relative;
}

h3 {
  float: left;
  padding: 22px 0px;
  text-transform: uppercase;
  font-size: 20px;
  color: #3975fc;
  width: 280px;

  word-break: break-all;
}

.para-1 {
  margin: 74px -280px;
  float: left;
  padding: -2px;
  min-height: auto;
  width: 283px;
}
.container-botam-up {
  background-color: #ffffff;
  max-height: 10px;
  border-top: 50px;
  position: relative;
  border-color: #e9e5e5;
  border-style: solid;
  border-width: 2px 0px 0px 0px;
}
.container-botam-up > button {
  position: relative;
  padding: 21px 31px;
  top: -26px;
  left: 335px;
  background-color: red;
  border: transparent;
  border-radius: 5%;
  font-size: 121%;
  text-transform: uppercase;
}
.container-botam {
  background-color: #f7f3f3;
  min-height: 584px;
  border-color: #e9e5e5;
  border-style: solid;
  border-width: 2px 0px 0px 0px;
  margin-bottom: 172px;
}
.count-num {
  position: absolute;
  top: 1px;
  right: 31px;
  font-size: 36px;
  padding: 11px 20px;
  border-style: solid;
  margin: -16px 13px;
  border-width: 5px;
  border-radius: 50%;
  border-color: #ffffff;
  background-color: #3e7aff;
  color: white;
  text-shadow: 2px 2px 4px #ba9191;
}
.container-botam > h4 {
  margin-top: 31px;
  float: left;
  padding: 98px 339px;
  text-transform: uppercase;
  font-size: 26px;
}
.under-line {
  margin: -42px 433px;
  float: right;
  color: #e9e5e5;
  font-size: 25px;
}
.img-1 {
  margin-left: 70px;
  margin-top: 40px;
  float: left;
}
.logo2 {
  float: left;
  padding: 61px 0px;
  margin-left: -179px;
}
.img-2 {
  margin-left: 32px;
}
footer {
  padding: 20px;
  background-color: black;
}
.footer-top {
  background-color: black;
  background-image: linear-gradient(to right, black, gray);
  padding: 148px;
}
.footer-text {
  float: right;
  margin-top: -105px;
  margin-right: 412px;
}
.footer-text > a {
  color: white;
  text-decoration: none;
  padding: 20px;
}
.footer-top > p {
  color: white;
  float: left;
  margin-left: 532px;
  margin-top: -55px;
}
.logo-img {
  float: left;
  margin-left: 546px;
}
