/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*start of devlopment*/
/*
nav {
  background-color: black;
}
.img-logo {
  padding: 12px 218px;
}
.navigation {
  display: inline;
  float: right;
  padding: 11px 262px;
  color: gray;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navigation > li,
.navigation a {
  color: rgb(33, 103, 255);
}
.navigation > li.active a {
  color: white;
}
.navigation > li.acti a {
  color: red;
}
.call-or {
  color: gray;
}
li a:hover:not(.active) {
  background-color: #f5a2a2;
}
.sampal {
  color: blueviolet;
}
.english {
  color: wheat;
}
*/
nav {
  background-image: linear-gradient(to right, black, gray);
}

.book-1 {
  color: #2c6fdc;
  float: right;
  margin: 6px 384px;
  text-align: right;
  text-align: right;
  vertical-align: top;
  text-decoration: none;
}
.book-2 {
  color: #2c6fdc;
  float: right;
  margin: -98px 252px;
  text-align: right;
  vertical-align: top;
  text-decoration: none;
}

.or-call {
  float: right;
  margin: -97px 336px;
  text-align: right;
  vertical-align: top;
  color: gray;
  text-decoration: none;
}
.how {
  float: right;
  color: rgb(255, 0, 0);
  margin: -27px 487px;
  text-decoration: none;
}
.travel {
  float: right;
  color: white;
  margin: -27px 361px;
  text-decoration: none;
}
.contact {
  float: right;
  color: white;
  margin: -27px 244px;
  text-decoration: none;
}

header {
  background-color: black;
  background-image: linear-gradient(to right, black, gray);
}
.container {
  max-width: 1024px;
  margin: 0 auto;
}
.header > a {
  float: left;
  text-decoration: none;
}
.nav-wrap {
  float: right;
  width: 400px;
  text-decoration: none;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.nav-link a:hover,
.nav-link a:active {
  box-shadow: 0 0 20px rgb(0, 0, 0) inset;
  border: 3px solid rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}
.nav-link span {
  color: gray;
}
.nav {
  margin-top: 40px;
}
.nav a {
  color: white;
  text-decoration: none;
}
.nav-link a {
  text-decoration: none;
}
.main-contaner {
  background-image: url("images/header-bkgd-airplane4b_1280x440.png");
  min-height: 80vh; /*temp*/
  background-size: 100%;
  background-repeat: no-repeat;
  display: flow-root;
}
.contant-header {
  padding: 60px 1px;
  background-color: rgb(255 249 249 / 49%);
  margin-top: 72px;
}
h1 {
  float: left;
  color: black;
  text-transform: uppercase;
  font-size: 40px;
  margin: -14px;
  padding: 0px 38px;
}
.contant-header > button {
  border: none;
  padding: 10px 61px;
  float: right;
  color: white;
  background-color: #4780ff;
  border-radius: 5px;
  text-transform: uppercase;
  background-image: linear-gradient(to bottom right, #4780ff, #2566f7);
  margin: -14px 72px;
}
.contant-text {
}
